**/__pycache__
venv

**/.ipynb_checkpoints
**/*-checkpoint.ipynb
**/*-checkpoint.py
**/*-checkpoint.jpg
**/*-checkpoint.png

app/build/
app/dist/
app/tests/
app/settings/
app/sequences/
app/GUI_assets/temp_fig/
app/choreographies/
