**/__pycache__
app/build/
app/dist/
app/GUI_assets/temp_fig/
app/choreographies/
app/sequences/

venv

**/.ipynb_checkpoints
**/*-checkpoint.ipynb
**/*-checkpoint.py
**/*-checkpoint.jpg
**/*-checkpoint.png

