**/__pycache__
app/build/
app/dist/
app/GUI_assets/temp_fig/
app/choreographies/
app/sequences/
Testing/*.mp4

venv

**/.ipynb_checkpoints
**/*-checkpoint.ipynb
**/*-checkpoint.py
**/*-checkpoint.jpg
**/*-checkpoint.png

